{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenue sur le site Vite et Gourmand !</h1>
    <h2>Présentation de l'entreprise</h2>
    <p>bla bla</p>
    <h2>Mise en avant du professionnalisme de l'équipe</h2>
    <p>bla bla</p>
    <h2>Les avis des clients</h2>
    <p>bla bla</p>
{% endblock %}
