<h1>Bienvenue {{ user.firstName }} {{ user.lastName }} !</h1>
<p>Nous vous remercions pour votre inscription sur notre site Vite et Gourmand. 
  Nous sommes ravis de vous compter parmi nos membres et espérons que 
  vous apprécierez notre plateforme pour découvrir de délicieux menus et 
  passer commande. Bon appétit !</p>
<p>L'équipe de Vite et Gourmand</p>